HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.mvn/
.env

# Ignore any untracked files by default, but keep current repo files trackable.
/*
!/.gitattributes
!/.github/
!/.gitignore
!/.mvn/
!/Dockerfile
!/HELP.md
!/README.md
!/docker-compose.yml
!/mvnw
!/mvnw.cmd
!/pom.xml
!/src/
!/target/

/.github/*
!/.github/**/
!/.github/**

/.mvn/*
!/.mvn/**/
!/.mvn/**

/src/*
!/src/**/
!/src/**

/target/*
