HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.mvn/

# Keep repository files trackable while ignoring any other untracked files.
/*
!/.gitattributes
!/.github/
!/.gitignore
!/.mvn/
!/.eclipse-java-google-style.xml
!/.pre-commit-config.yaml
!/README.md
!/mvnw
!/mvnw.cmd
!/pom.xml
!/src/

/.github/*
!/.github/**/
!/.github/**

/.mvn/*
!/.mvn/**/
!/.mvn/**

/src/*
!/src/**/
!/src/**
